## Final Project Submission

Please fill out:
* Student name: Steven Rosa
* Student pace: part time
* Scheduled project review date/time: 
* Instructor name: Jeff Herman
* Blog post URL:

### Work flows
#### Parrish
https://gist.github.com/aparrish/2f562e3737544cf29aaf1af30362f469

#### Graph convolutional network ("semi-supervised")
https://towardsdatascience.com/text-based-graph-convolutional-network-for-semi-supervised-bible-book-classification-c71f6f61ff0f

In [1]:
url = 'https://www.gutenberg.org/ebooks/4217'

#%%time
import numpy as np
import pandas as pd
import math

#Learn workflow
from nltk.corpus import stopwords
import string #for removing punctuation from text
from nltk import word_tokenize #Another way of tokenizing
from nltk import FreqDist

from pandasql import sqldf #for manipulating DataFrames with SQL style queries

#Parrish workflow
from numpy import dot #parrish
from numpy.linalg import norm #parrish
import en_core_web_md #parrish
import spacy #parrish 
from __future__ import unicode_literals #parrish

# Learn.co workflow

In [ ]:
#Needed for first time use on each machine:
#import nltk
#nltk.download('stopwords')

In [2]:
stop_list = stopwords.words('english')

# It is generally a good idea to also remove punctuation

# Now we have a list that includes all english stopwords, as well as all punctuation
stop_list += list(string.punctuation)
stop_list += ['could', 'like', 'one', 'said', 'would', '\'s', '\'ll']
#https://learn.co/tracks/data-science-career-v1-1/module-4-advanced-machine-learning-deep-learning/section-37-foundations-of-natural-language-processing-nlp/feature-engineering-for-text-data#

#&c &c &c

In [3]:
#Read files (without nlp module)
with open('chapter1.txt', 'r', encoding = 'utf-8') as f1, \
    open('chapter2.txt', 'r', encoding = 'utf-8') as f2, \
    open('chapter3.txt', 'r', encoding = 'utf-8') as f3, \
    open('chapter4.txt', 'r', encoding = 'utf-8') as f4, \
    open('chapter5.txt', 'r', encoding = 'utf-8') as f5:
    ch1 = f1.read()
    ch2 = f2.read()
    ch3 = f3.read()
    ch4 = f4.read()
    ch5 = f5.read()

In [4]:
#tokenize all
tokens1 = word_tokenize(ch1)
tokens2 = word_tokenize(ch2)
tokens3 = word_tokenize(ch3)
tokens4 = word_tokenize(ch4)
tokens5 = word_tokenize(ch5)
tokens = [tokens1, tokens2, tokens3, tokens4, tokens5]
full_text = []
full_text = [full_text.extend(toke) for toke in tokens]

In [6]:
stopped = {'Chapter_' + str(i + 1): [w.lower() for w in toke if w.lower() not in stop_list] \
                for i, toke in enumerate(tokens)
            }

all_stopped = []
for key, val in stopped.items():
    all_stopped.extend(val)
    
fds = {key: FreqDist(stopped[key]) for key, val in stopped.items()}
all_fd = FreqDist(all_stopped)

#Use frequency distributions from each column to construct 
#a DataFrame listing frequency of every word across every chapter
word_counts = pd.DataFrame(list(all_fd.items()), columns = ['Word','Total'])

for key, val in fds.items():
    word_counts[key] = [val[word] if val[word] else 0 \
                  for word in word_counts['Word']]

In [7]:
word_counts.head(10)

     Word  Total  Chapter_1  Chapter_2  Chapter_3  Chapter_4  Chapter_5
0    upon    121          6         19         46         17         33
1    time    118         19         13         41         11         34
2    good     91         14         21         21          5         30
3  moocow      3          3          0          0          0          0
4  coming     29          7          6          6          1          9
5   along     55         17         18          3          5         12
6    road     31          7         14          0          1          9
7     met     13          2          1          3          0          7
8  nicens      1          1          0          0          0          0
9  little    130         49         31         20          5         25

## Corpus statistics

In [48]:
#Get counts for every token in each chapter
def word_counts_table(df, column):
    '''
    '''
    q = ''' SELECT *
            FROM {} df
            ORDER BY df.{} DESC
    ;'''.format(df, column)
    results = pysqldf(q)
    print(q)
    return results

def word_percents_table(df, chapters, order_by):
    '''
    Parameters:
    chapters (list) list(fds.keys())
    '''
    #Solve fence post comma problem by building different string if key is last in list
    select = ''.join(['''(df.''' + key + ' * 1000 / df.Total) * 0.1 ' + key + ''', 
        ''' if key != chapters[-1] else \
        '(df.' + key + ' * 1000 / df.Total) * 0.1 ' + key + ''' 
        ''' for key in chapters])
    
    q = '''SELECT df.Word, df.Total, 
        '''
    q += select
    q += '''
        FROM {} df
        ;'''.format(df, order_by)
    results = pysqldf(q)
    print(q)
    return results

def select_percent_lim(df, percent, lim, chapters):
    '''
    
    '''
    select = ''.join([
        'SUM(CASE WHEN df.' + key + ' > ' + str(percent) + \
        ' AND df.Total > ' + str(lim) + \
        ' THEN 1 ELSE 0 END) ' + key + ''', 
        ''' if key != chapters[-1] else \
        'SUM(CASE WHEN df.' + key + ' > ' + str(percent) + \
        ' AND df.Total > ' + str(lim) + \
        ' THEN 1 ELSE 0 END) '  + key + ''' 
        ''' for key in chapters])
    q = 'SELECT '
    q += select
    q += '''FROM {} df
    ;'''.format(df)
    results = pysqldf(q)
    print(q)
    return results

In [14]:
#A lambda function with the "globals" so I don't have to pass them in every time
pysqldf = lambda q: sqldf(q, globals())

In [65]:
word_counts_ordered = word_counts_table('word_counts', 'Chapter_5')

 SELECT *
            FROM word_counts df
            ORDER BY df.Chapter_5 DESC
    ;

In [66]:
word_counts_ordered.head(10)

      Word  Total  Chapter_1  Chapter_2  Chapter_3  Chapter_4  Chapter_5
0  stephen    433         72         99         11         22        229
1   cranly    140          0          0          0          0        140
2     eyes    173         40         25         28         20         60
3   temple     60          0          0          1          0         59
4    asked    104         26         11          4          5         58
5     mind    108          2         18         17         18         53
6    first    122         25         15         17         13         52
7    lynch     51          0          0          0          0         51
8     know    103         25         12         11          6         49
9      man    106         11         25         20          7         43

In [15]:
percents = word_percents_table('word_counts', list(fds.keys()), 'Chapter_1')

SELECT df.Word, df.Total,
        (df.Chapter_1 * 1000 / df.Total) * 0.1 Chapter_1,
        (df.Chapter_2 * 1000 / df.Total) * 0.1 Chapter_2,
        (df.Chapter_3 * 1000 / df.Total) * 0.1 Chapter_3,
        (df.Chapter_4 * 1000 / df.Total) * 0.1 Chapter_4,
        (df.Chapter_5 * 1000 / df.Total) * 0.1 Chapter_5

        FROM word_counts df
        ;

In [17]:
percents.head(10)

     Word  Total  Chapter_1  Chapter_2  Chapter_3  Chapter_4  Chapter_5
0    upon    121        4.9       15.7       38.0       14.0       27.2
1    time    118       16.1       11.0       34.7        9.3       28.8
2    good     91       15.3       23.0       23.0        5.4       32.9
3  moocow      3      100.0        0.0        0.0        0.0        0.0
4  coming     29       24.1       20.6       20.6        3.4       31.0
5   along     55       30.9       32.7        5.4        9.0       21.8
6    road     31       22.5       45.1        0.0        3.2       29.0
7     met     13       15.3        7.6       23.0        0.0       53.8
8  nicens      1      100.0        0.0        0.0        0.0        0.0
9  little    130       37.6       23.8       15.3        3.8       19.2

In [60]:
#Number of words in each chapter
len(stopped['Chapter_1']), len(stopped['Chapter_2']), len(stopped['Chapter_3']), len(stopped['Chapter_4']), len(stopped['Chapter_5'])
sum([len(stopped['Chapter_1']), len(stopped['Chapter_2']), len(stopped['Chapter_3']), len(stopped['Chapter_4']), len(stopped['Chapter_5'])])

40342

In [ ]:
#If plain vanilla model can't get higher than 30% accuracy then bigger classes are having outsized effect

In [50]:
#Frequency of words making 99% of their appearances in a given chapter
words90 = pd.DataFrame(columns = list(fds.keys()))
for i in range(40):
    words90 = words99.append(select_percent_lim('percents', 90,
                                                i, 
                                                list(fds.keys())),
                                                ignore_index = True)

SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 0 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 0 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 0 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 0 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 0 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 1 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 1 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 1 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 1 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 1 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 2 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 2 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 2 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 2 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 2 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 3 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 3 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 3 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 3 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 3 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 4 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 4 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 4 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 4 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 4 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 5 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 5 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 5 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 5 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 5 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 6 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 6 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 6 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 6 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 6 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 7 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 7 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 7 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 7 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 7 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 8 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 8 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 8 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 8 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 8 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 9 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 9 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 9 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 9 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 9 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 10 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 10 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 10 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 10 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 10 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 11 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 11 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 11 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 11 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 11 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 12 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 12 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 12 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 12 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 12 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 13 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 13 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 13 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 13 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 13 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 14 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 14 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 14 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 14 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 14 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 15 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 15 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 15 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 15 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 15 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 16 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 16 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 16 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 16 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 16 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 17 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 17 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 17 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 17 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 17 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 18 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 18 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 18 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 18 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 18 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 19 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 19 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 19 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 19 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 19 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 20 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 20 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 20 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 20 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 20 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;

SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 21 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 21 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 21 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 21 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 21 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 22 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 22 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 22 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 22 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 22 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 23 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 23 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 23 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 23 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 23 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 24 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 24 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 24 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 24 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 24 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 25 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 25 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 25 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 25 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 25 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 26 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 26 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 26 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 26 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 26 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 27 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 27 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 27 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 27 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 27 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 28 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 28 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 28 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 28 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 28 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 29 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 29 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 29 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 29 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 29 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 30 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 30 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 30 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 30 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 30 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 31 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 31 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 31 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 31 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 31 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 32 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 32 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 32 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 32 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 32 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 33 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 33 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 33 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 33 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 33 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 34 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 34 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 34 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 34 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 34 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 35 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 35 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 35 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 35 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 35 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 36 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 36 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 36 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 36 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 36 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 37 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 37 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 37 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 37 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 37 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 38 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 38 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 38 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 38 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 38 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;
SELECT SUM(CASE WHEN df.Chapter_1 > 90 AND df.Total > 39 THEN 1 ELSE 0 END) Chapter_1,
        SUM(CASE WHEN df.Chapter_2 > 90 AND df.Total > 39 THEN 1 ELSE 0 END) Chapter_2,
        SUM(CASE WHEN df.Chapter_3 > 90 AND df.Total > 39 THEN 1 ELSE 0 END) Chapter_3,
        SUM(CASE WHEN df.Chapter_4 > 90 AND df.Total > 39 THEN 1 ELSE 0 END) Chapter_4,
        SUM(CASE WHEN df.Chapter_5 > 90 AND df.Total > 39 THEN 1 ELSE 0 END) Chapter_5
        FROM percents df
    ;

In [38]:
words90.head(20)

   Chapter_1 Chapter_2 Chapter_3 Chapter_4 Chapter_5
0        701      1051      1153       727      2109
1        232       163       248        76       461
2        104        42        85        15       168
3         62        21        42         4        68
4         39        13        24         1        45
5         26         7        17         1        33
6         20         5         8         1        24
7         17         4         6         1        21
8         16         3         5         1        19
9         14         3         4         0        17
10        10         3         4         0        17
11         9         2         3         0        17
12         8         2         3         0        15
13         7         1         3         0        12
14         7         1         2         0         9
15         7         1         2         0         9
16         6         1         1         0         9
17         5         1         1         0         8
18         5         1         1         0         8
19         5         1         1         0         8

In [56]:
#list(nlp(ch1).sents)

In [354]:
#Use to check accuracy of SQL queries
#See all the words that appear in a given chapter 99% out of all occurences
percents[percents['Chapter_4'] > 99][['Word', 'Total']]

                Word  Total
5971       dedicated      1
5974        hallowed      1
5975          heroic      1
5976      intentions      1
5977       sovereign      1
5978         pontiff      1
5979         whetted      1
5981       sidealtar      1
5982     interleaved      1
5983      testaments      1
5984       catacombs      1
5986      devotional      1
5987           areas      1
5989    ejaculations      1
5990          stored      1
5991    ungrudgingly      1
5992     quarantines      1
5993         triumph      3
5994       achieving      1
5996       canonical      1
5997        penances      1
5999        remitted      1
6000        suffrage      1
6001       agonising      1
6002     purgatorial      1
6003        differed      1
6004        moisture      1
6005      increasing      1
6006          circle      1
6007  supererogation      1
...              ...    ...
6828          advent      1
6829             err      1
6830        recreate      1
6831           envoy      1
6832          courts      1
6833            wane      1
6834        landward      1
6835        reckless      1
6836         shingle      1
6837           sandy      1
6838            nook      1
6839      sandknolls      1
6841       processes      1
6842          cyclic      1
6843        watchers      1
6844          shapes      1
6845      succession      1
6846         crimson      1
6847          palest      1
6848        flooding      1
6849         flushes      1
6850            woke      1
6851          glowed      1
6852       recalling      1
6853        sandhill      1
6855         skyline      1
6856            hoop      1
6857        embedded      1
6858       islanding      1
6859          pools.      1

[727 rows x 2 columns]

# Parrish workflow

In [53]:
nlp = spacy.load('en_core_web_md')

In [ ]:
with open('chapter1.txt', 'r', encoding = 'utf-8') as f1, \
    open('chapter2.txt', 'r', encoding = 'utf-8') as f2, \
    open('chapter3.txt', 'r', encoding = 'utf-8') as f3, \
    open('chapter4.txt', 'r', encoding = 'utf-8') as f4, \
    open('chapter5.txt', 'r', encoding = 'utf-8') as f5:
    ch1 = nlp(f1.read())
    ch2 = nlp(f2.read())
    ch3 = nlp(f3.read())
    ch4 = nlp(f4.read())
    ch5 = nlp(f5.read())

tokens1 = list(set([w.text for w in ch1 if w.is_alpha]))
tokens2 = list(set([w.text for w in ch2 if w.is_alpha]))
tokens3 = list(set([w.text for w in ch3 if w.is_alpha]))
tokens4 = list(set([w.text for w in ch4 if w.is_alpha]))
tokens5 = list(set([w.text for w in ch5 if w.is_alpha]))

In [ ]:
#From Parrish
nlp.vocab['cheese'].vector

In [ ]:
#Functions from Parrish


def subtractv(coord1, coord2):
    return [c1 - c2 for c1, c2 in zip(coord1, coord2)]

def addv(coord1, coord2):
    return [c1 + c2 for c1, c2 in zip(coord1, coord2)]

def meanv(coords):
    # assumes every item in coords has same length as item 0
    sumv = [0] * len(coords[0])
    for item in coords:
        for i in range(len(item)):
            sumv[i] += item[i]
    mean = [0] * len(sumv)
    for i in range(len(sumv)):
        mean[i] = float(sumv[i]) / len(coords)
    return mean


#Convenience function
def vec(s):
    return nlp.vocab[s].vector

# cosine similarity
def cosine(v1, v2):
    if norm(v1) > 0 and norm(v2) > 0:
        return dot(v1, v2) / (norm(v1) * norm(v2))
    else:
        return 0.0
    
def spacy_closest(token_list, vec_to_check, n=10):
    return sorted(token_list,
                  key=lambda x: cosine(vec_to_check, vec(x)),
                  reverse=True)[:n]

def sentvec(s):
    sent = nlp(s)
    return meanv([w.vector for w in sent])

def spacy_closest_sent(space, input_str, n=10):
    input_vec = sentvec(input_str)
    return sorted(space,
                  key=lambda x: cosine(np.mean([w.vector for w in x], axis=0), input_vec),
                  reverse=True)[:n]

In [ ]:
cosine(vec('dog'), vec('puppy')) > cosine(vec('trousers'), vec('pants'))

In [ ]:
cosine(vec('dog'), vec('puppy')), cosine(vec('trousers'), vec('pants'))

In [ ]:
#Parrish
spacy_closest(tokens1, vec("pie"))

In [ ]:
spacy_closest(tokens2, vec("pie"))

In [ ]:
spacy_closest(tokens5, vec("pie"))

In [ ]:
ch1_list = [w.text for w in ch1 if w.is_alpha]

In [ ]:
len(ch1_list), len(set(ch1_list))

In [ ]:
#Need to remove stop words
pd.Series(ch1_list).value_counts()

In [ ]:
blue_to_sky = subtractv(vec("blue"), vec("sky"))
spacy_closest(tokens5, addv(blue_to_sky, vec("grass")))

In [ ]:

sents1 = list(ch1.sents)

for sent in spacy_closest_sent(sents1, "I went to church this morning."):
    print(sent.text)
    print("---")

# Insight workflow
### Data cleaning:
- tokenize
- remove non-alphanumeric
- to lower case
- combine words with similar spellings
- lemmatize?

### Words into numbers
- bag words [0 0 0 0 0 1 0 0 ]